{{#section 'head'}}
<link rel="stylesheet" href="/assets/css/progress.css" /> {{/section}}


<h3 class="info">
	<span class="mdl-color-text--blue-400 label">ETA: </span>
	<span id="print_ETA"></span>
</h3>


{{#section 'head'}}
<script src="/assets/scripts/ETA.js"></script> {{/section}}